body {
  margin :0;
  height: 100%;
}

.section {
  margin-top: 50px;
}

h1 {
text-align : center;
}

h2 {
color: white;
text-align : center;
}

.bg-color {
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.bar-container {
height: 2.7rem;
}
.black-box {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
width: 100%;
background-color: rgba(0, 0, 0, 0.2);
}
.black-bar {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
background-color: rgba(0, 0, 0, 1);
}
.blue-box {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
width: 100%;
background-color: rgba(0, 0, 255, 0.2);
}
.blue-bar {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
background-color: rgba(0, 0, 255, 1);
}
.brown-box {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
width: 100%;
background-color: rgba(165, 42, 42, 0.2);
}
.brown-bar {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
background-color: rgba(165, 42, 42, 1);
}
.gray-box {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
width: 100%;
background-color: rgba(128, 128, 128, 0.2);
}
.gray-bar {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
background-color: rgba(128, 128, 128, 1);
}
.green-box {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
width: 100%;
background-color: rgba(0, 255, 0, 0.2);
}
.green-bar {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
background-color: rgba(0, 255, 0, 1);
}
.mint-box {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
width: 100%;
background-color: rgba(0, 255, 255, 0.2);
}
.mint-bar {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
background-color: rgba(0, 255, 255, 1);
}
.navy-box {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
width: 100%;
background-color: rgba(0, 0, 128, 0.2);
}
.navy-bar {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
background-color: rgba(0, 0, 128, 1);
}
.orange-box {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
width: 100%;
background-color: rgba(255, 127, 80, 0.2);
}
.orange-bar {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
background-color: rgba(255, 127, 80, 1);
}
.pink-box {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
width: 100%;
background-color: rgba(252, 192, 203, 0.2);
}
.pink-bar {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
background-color: rgba(255, 192, 203, 1);
}
.purple-box {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
width: 100%;
background-color: rgba(128, 0, 128, 0.2);
}
.purple-bar {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
background-color: rgba(128, 0, 128, 1);
}
.red-box {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
width: 100%;
background-color: rgba(255, 0, 0, 0.2);
}
.red-bar {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
background-color: rgba(255, 0, 0, 1);
}
.yellow-box {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
width: 100%;
background-color: rgba(255, 255, 0, 0.2);
}
.yellow-bar {
position: absolute;
top: 0;
left: 0;
height: 2rem;
border-radius: 10px;
background-color: rgba(255, 255, 0, 1);
}
.percent-text {
font-size: 1rem;
color: #ffffff;
}
.color-label {
  width: 20%;
  text-align: left;
  height: 2rem;
}
#label-container {
  width: 80%;
  margin: 0 auto;
}

label {
cursor: pointer;
display: inline-block;
width: 90px;
height: 41px;
box-shadow: 0 0 0 8px #e5e9ea inset;
border-radius: 30px;
position: relative;
}

.content {
  position : fixed;
  bottom : 0;
  background : rgba(0, 0, 0, 0.5);
  color : #f1f1f1;
  width: 100%;
  padding : 20px;
}

video {
object-fit: cover;
width: 100vw;
height: 100vh;
position: fixed;
top: 0;
left: 0;
}

.file-upload {
background-color: #ffffff;
width: 230px;
margin: 0 auto;
padding: 20px;
}

.file-upload-btn {
width: 100%;
margin: 0;
color: #fff;
background: #1FB264;
border: none;
padding: 10px;
border-radius: 4px;
border-bottom: 4px solid #15824B;
transition: all .2s ease;
outline: none;
text-transform: uppercase;
font-weight: 700;
}

.file-upload-btn:hover {
background: #1AA059;
color: #ffffff;
transition: all .2s ease;
cursor: pointer;
}

.file-upload-btn:active {
border: 0;
transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

#loading {
  display: none;
}

.file-upload-input {
position: absolute;
margin: 0;
padding: 0;
width: 100%;
height: 100%;
outline: none;
opacity: 0;
cursor: pointer;
}

.image-upload-wrap {
margin-top: 20px;
object-fit: contain;
border-radius: 10px;
border: 4px dashed rgba(0, 0, 0, 0.5);;
position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
background-color: rgba(0, 0, 0, 0.1);
border: 4px dashed rgba(0, 0, 0, 0.5);;
}

.image-title-wrap {
padding: 0 15px 15px 15px;
color: #222;
}

.drag-text {
text-align: center;
}

.drag-text h3 {
font-weight: 100;
text-transform: uppercase;
color: #15824B;
padding: 60px 0;
}

.file-upload-image {
max-height: 200px;
max-width: 200px;
margin: auto;
padding: 20px;
}

.try-again-btn {
border-radius: 40px;
border: solid 1.5px #35465d;
background-color: #35465d;
}

.try-again-text {
display: block;
font-size: 1.5rem;
text-align: center;
color: #ffffff;
padding: 4px 15px;
}

.remove-image:hover {
background: #c13b2a;
color: #ffffff;
transition: all .2s ease;
cursor: pointer;
}

.remove-image:active {
border: 0;
transition: all .2s ease;
}

@media screen and (max-width: 600px) {
  body {
    font-size : 10px;
  }
}